html {
  font-family: "Inter";
  font-style: normal;
  overflow-x: hidden;
}

a:hover {
  text-decoration: none;
}

section {
  margin-top: 80px;
}
@media (max-width: 576px) {
  section {
    margin-top: 36px;
  }
}

#head {
  margin-top: 0px;
  background-image: url("./assets/images/background-introduction.png");
  height: 820px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 576px) {
  #head {
    height: unset;
    background-image: url("./assets/images/bg-mobile-wrap-introduction.png");
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px !important;
  }
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.3px;
  color: #333333;
  text-align: center;
}
@media (max-width: 576px) {
  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.3px;
    text-transform: uppercase;
  }
}

.menu {
  cursor: pointer;
}
.menu > span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: #007d85;
  margin-right: 17px;
}

.wrap-introduction {
  display: flex;
}
@media (max-width: 576px) {
  .wrap-introduction {
    flex-direction: column;
  }
}
.wrap-introduction > .left {
  max-width: 520px;
  margin-top: 235px;
  margin-right: 50px;
}
@media (max-width: 576px) {
  .wrap-introduction > .left {
    margin-top: 57px;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
  }
}
.wrap-introduction > .left > h4 {
  color: #007d85;
}
.wrap-introduction > .left > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: #007d85;
  margin-top: 24px;
}
.wrap-introduction > .left > .wrap-read-more {
  margin-top: 24px;
}
@media (max-width: 576px) {
  .wrap-introduction > .left > .wrap-read-more {
    display: flex;
    justify-content: center;
  }
}
.wrap-introduction > .left > .wrap-read-more > .read-more {
  background: #00becb;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #ffffff;
  padding: 11px 34px;
}
.wrap-introduction > .left > .wrap-dowload {
  margin-top: 82px;
}
@media (max-width: 576px) {
  .wrap-introduction > .left > .wrap-dowload {
    margin: 32px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.wrap-introduction > .left > .wrap-dowload > .dowload {
  margin-top: 6.5px;
  width: 380px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .wrap-introduction > .left > .wrap-dowload > .dowload {
    justify-content: center;
    gap: 14px;
  }
  .wrap-introduction > .left > .wrap-dowload > .dowload a img {
    width: 130px;
    height: 34px;
  }
}
.wrap-introduction > .right {
  margin-top: 74px;
}
.wrap-introduction > .right > img {
  width: 100%;
}

.mentor-team {
  text-align: center;
}
.mentor-team > .description {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.3px;
  color: #333333;
}
@media (max-width: 576px) {
  .mentor-team > .description {
    font-size: 16px;
    line-height: 19px;
  }
}

.wrap-mentor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .wrap-mentor {
    flex-wrap: wrap;
  }
}
.wrap-mentor > .mentor {
  border: 1px solid #dffafc;
  box-shadow: 0px 2px 4px rgba(220, 220, 220, 0.25);
  border-radius: 8px;
  background: #ffffff;
  transition: transform 0.5s ease-in-out;
}
.wrap-mentor > .mentor:hover {
  transform: scale(0.95);
  box-shadow: #000;
}
@media (max-width: 576px) {
  .wrap-mentor > .mentor {
    width: 160px;
  }
}
.wrap-mentor > .mentor > img {
  height: 300px;
}
@media (max-width: 576px) {
  .wrap-mentor > .mentor > img {
    width: 100%;
    height: unset;
  }
}
.wrap-mentor > .mentor > .name {
  margin-top: 20px;
  margin-left: 17px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.3px;
  color: #333333;
}
@media (max-width: 576px) {
  .wrap-mentor > .mentor > .name {
    margin-top: 12px;
    font-size: 16px;
    line-height: 19px;
  }
}
.wrap-mentor > .mentor > .position {
  margin-top: 8px;
  margin-left: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: #828282;
}
@media (max-width: 576px) {
  .wrap-mentor > .mentor > .position {
    margin-left: 8px;
    margin-top: 6px;
    font-size: 14px;
    line-height: 17px;
  }
}

#statue {
  height: 800px;
  background-image: url("./assets/images/statue.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#statue .bg-shadow {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  position: absolute;
  background: linear-gradient(269.88deg, #000000 14.13%, rgba(0, 0, 0, 0) 99.9%);
  background-attachment: fixed;
}
#statue .container {
  position: relative;
  z-index: 1;
}
@media (max-width: 576px) {
  #statue {
    background-image: url("./assets/images/statue-mobile.png");
    height: 500px;
    margin-top: 36px;
  }
}

.wrapper {
  display: flex;
  justify-content: end;
}
.wrapper > .wrap-text-statue {
  margin-top: 220px;
  max-width: 770px;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  text-align: right;
  letter-spacing: -0.3px;
  color: #ffffff;
}
@media (max-width: 576px) {
  .wrapper > .wrap-text-statue {
    width: 230px;
    margin-top: 140px;
    font-size: 20px;
    line-height: 130%;
  }
}
.wrapper > .wrap-text-statue > .explain {
  font-size: 24px;
}
@media (max-width: 576px) {
  .wrapper > .wrap-text-statue > .explain {
    font-size: 14px;
    line-height: 130%;
  }
}

.list-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
@media (max-width: 576px) {
  .list-event {
    margin-top: 20px;
    flex-direction: column;
  }
}
.list-event > .event {
  width: 410px;
  height: 310px;
  margin-top: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(191, 191, 191, 0.25);
  border-radius: 8px;
}
@media (max-width: 576px) {
  .list-event > .event {
    margin-top: 20px;
    width: 100%;
  }
}
.list-event > .event > img {
  height: 190px;
}
@media (max-width: 576px) {
  .list-event > .event > img {
    width: 100%;
    height: unset;
  }
}
.list-event > .event > .description {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #333333;
  margin-top: 20px;
}
@media (max-width: 576px) {
  .list-event > .event > .description {
    font-size: 16px;
    line-height: 130%;
    margin-left: 16px;
  }
}
.list-event > .event > .privacy {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: #333333;
  display: flex;
  align-items: center;
}
@media (max-width: 576px) {
  .list-event > .event > .privacy {
    font-size: 14px;
    line-height: 17px;
  }
}
.list-event > .event > .privacy > img {
  margin-right: 6px;
}
@media (max-width: 576px) {
  .list-event > .event > .privacy > img {
    margin-left: 16px;
  }
}

.list-podcast {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: wrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 30px;
}
@media (max-width: 576px) {
  .list-podcast {
    margin-top: 20px;
    flex-wrap: wrap;
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 30px;
  }
}
.list-podcast > .podcast {
  width: 300px;
}
@media (max-width: 576px) {
  .list-podcast > .podcast {
    width: 160px;
    height: 250px;
  }
}
.list-podcast > .podcast > img {
  height: 300px;
}
@media (max-width: 576px) {
  .list-podcast > .podcast > img {
    height: 160px;
  }
}
.list-podcast > .podcast > .description {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #333333;
  margin-top: 12px;
}
@media (max-width: 576px) {
  .list-podcast > .podcast > .description {
    font-size: 16px;
    line-height: 19px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.list-podcast > .podcast > .name {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: #333333;
}
@media (max-width: 576px) {
  .list-podcast > .podcast > .name {
    font-size: 14px;
    line-height: 17px;
  }
}

.list-partner {
  display: flex;
  justify-content: space-between;
  width: 834px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 40px;
}
@media (max-width: 576px) {
  .list-partner {
    width: 337px;
  }
}
.list-partner > img {
  height: 102px;
  width: 102px;
  margin-right: 81px;
}
.list-partner > img:nth-child(5), .list-partner > img:nth-child(10) {
  margin-right: 0;
}
.list-partner > img:nth-child(5n-4) {
  margin-bottom: 50px;
}
@media (max-width: 576px) {
  .list-partner > img {
    height: 56px;
    width: 56px;
    margin-right: 1px;
  }
  .list-partner > img:nth-child(5n-4) {
    margin-bottom: 16px;
  }
}

footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  height: 318px;
  background: #303435;
  box-shadow: 0px -1px 1px rgba(172, 172, 172, 0.25);
  overflow: hidden;
}
@media (max-width: 576px) {
  footer {
    height: unset;
  }
}

.wrap-top-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: #3b3b3b 1px solid;
}
@media (max-width: 576px) {
  .wrap-top-footer {
    flex-direction: column;
    padding-bottom: 24px;
  }
}
.wrap-top-footer .label {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  margin-top: 104px;
  margin-bottom: 15px;
}
@media (max-width: 576px) {
  .wrap-top-footer .label {
    margin-top: 32px;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 120%;
  }
}
.wrap-top-footer > .wrap-logo {
  margin-top: 60px;
}
@media (max-width: 576px) {
  .wrap-top-footer > .wrap-logo {
    margin-top: 16px;
  }
}
.wrap-top-footer > .wrap-logo > .logo-footer {
  width: 181.64px;
  height: 62.86px;
}
.wrap-top-footer > .wrap-logo > .address {
  width: 411px;
  margin-top: 22.5px;
}
@media (max-width: 576px) {
  .wrap-top-footer > .wrap-logo > .address {
    margin-top: 12px;
    font-size: 14px;
    line-height: 130%;
    width: 272px;
  }
}
.wrap-top-footer > .contact {
  width: 197px;
}
.wrap-top-footer > .co-operate {
  width: 391px;
}

.wrap-bottom-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}
@media (max-width: 576px) {
  .wrap-bottom-footer {
    flex-direction: column-reverse;
    align-items: flex-start;
    font-size: 12px;
    line-height: 100%;
    margin-bottom: 30px;
  }
}
.wrap-bottom-footer > .social {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .wrap-bottom-footer > .social {
    margin-bottom: 32px;
  }
}

#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #000;
  opacity: 1;
  z-index: 99;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 600px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

#statistical {
  margin-left: 110px;
  margin-right: 110px;
  background-image: url("./assets/images/background-statistical.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 485px;
}
@media (max-width: 576px) {
  #statistical {
    margin-left: 0;
    margin-right: 0;
    height: 340px;
    background-image: url("./assets/images/background-statistical-mobile.png");
  }
}

.wrap-statistical {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 137px;
}
@media (max-width: 576px) {
  .wrap-statistical {
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 104px;
  }
}
.wrap-statistical > .left {
  display: flex;
  align-items: center;
  -moz-column-gap: 148px;
       column-gap: 148px;
}
@media (max-width: 576px) {
  .wrap-statistical > .left {
    -moz-column-gap: 48px;
         column-gap: 48px;
  }
}
.wrap-statistical > .left > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrap-statistical > .left > div > .label {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #333333;
}
@media (max-width: 576px) {
  .wrap-statistical > .left > div > .label {
    font-size: 14px;
    line-height: 17px;
  }
}
.wrap-statistical > .left > div > .value {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #333333;
}
@media (max-width: 576px) {
  .wrap-statistical > .left > div > .value {
    font-size: 40px;
    line-height: 48px;
  }
}
.wrap-statistical > .right {
  max-width: 520px;
  text-align: right;
}
@media (max-width: 576px) {
  .wrap-statistical > .right {
    text-align: center;
    margin-top: 32px;
  }
}
.wrap-statistical > .right > .label {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #333333;
}
@media (max-width: 576px) {
  .wrap-statistical > .right > .label {
    font-size: 14px;
    line-height: 17px;
  }
}
.wrap-statistical > .right > .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: -0.3px;
  color: #828282;
  margin-top: 24px;
}
@media (max-width: 576px) {
  .wrap-statistical > .right > .text {
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
  }
}/*# sourceMappingURL=index.css.map */