html {
  font-family: "Inter";
  font-style: normal;
  overflow: scroll;
}

a {
  &:hover {
    text-decoration: none;
  }
}
section {
  margin-top: 80px;
}

#head {
  margin-top: 0px;
  background-image: url("./assets/images/background-introduction.png");
  height: 820px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  @media (min-width: 1200px) {
    max-width: 1300px !important;
  }
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.3px;

  color: #333333;
  text-align: center;

  // @media (min-width: 576px) {
  //   font-size: 24px;
  //   line-height: 29px;
  // }
}

.menu {
  cursor: pointer;
  > span {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.3px;
    color: #007d85;

    margin-right: 17px;
  }
}
.wrap-introduction {
  display: flex;
  // @media (min-width: 576px) {
  //   flex-direction: column;
  // }
  > .left {
    max-width: 520px;
    margin-top: 235px;
    margin-right: 50px;
    // @media (min-width: 576px) {
    //   margin-top: 57px;
    // }
    > h4 {
      color: #007d85;
    }
    > p {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.3px;

      color: #007d85;

      margin-top: 24px;
    }
    > .wrap-read-more {
      margin-top: 24px;
      > .read-more {
        background: #00becb;
        border-radius: 8px;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.165px;

        color: #ffffff;
        padding: 11px 34px;
      }
    }

    > .wrap-dowload {
      margin-top: 82px;
      > .dowload {
        margin-top: 6.5px;
        width: 380px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  > .right {
    margin-top: 74px;
    > img {
      width: 100%;
    }
  }
}

.mentor-team {
  text-align: center;
  > .description {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.3px;
    color: #333333;
  }
}

.wrap-mentor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > .mentor {
    border: 1px solid #dffafc;
    box-shadow: 0px 2px 4px rgba(220, 220, 220, 0.25);
    border-radius: 8px;
    background: #ffffff;
    > img {
      height: 300px;
    }
    > .name {
      margin-top: 20px;
      margin-left: 17px;

      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: -0.3px;
      color: #333333;
    }

    > .position {
      margin-top: 8px;
      margin-left: 17px;

      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.3px;

      color: #828282;
    }
  }
}

#statue {
  background-image: url("./assets/images/statue.png");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
}

.wrapper {
  display: flex;
  justify-content: end;
  > .wrap-text-statue {
    margin-top: 220px;
    max-width: 770px;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    text-align: right;
    letter-spacing: -0.3px;

    color: #ffffff;
    > .explain {
      font-size: 24px;
    }
  }
}

.list-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  > .event {
    width: 410px;
    height: 310px;
    margin-top: 40px;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(191, 191, 191, 0.25);
    border-radius: 8px;
    > img {
      height: 190px;
    }
    > .description {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.3px;
      color: #333333;
      margin-top: 20px;
    }
    > .privacy {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.3px;
      color: #333333;

      display: flex;
      align-items: center;

      > img {
        margin-right: 6px;
      }
    }
  }
}

.list-podcast {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  > .podcast {
    width: 300px;
    > img {
      height: 300px;
    }
    > .description {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.3px;
      color: #333333;
      margin-top: 12px;
    }
    > .name {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.3px;

      color: #333333;
    }
  }
}

.list-partner {
  display: flex;
  justify-content: space-between;
  width: 834px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 40px;
  > img {
    height: 102px;
    width: 102px;
    margin-right: 81px;
    &:nth-child(5),
    &:nth-child(10) {
      margin-right: 0;
    }

    &:nth-child(5n -4) {
      margin-bottom: 50px;
    }
  }
}

footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;

  color: #ffffff;

  height: 318px;
  background: #303435;
  box-shadow: 0px -1px 1px rgba(172, 172, 172, 0.25);
}

.wrap-top-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: #3b3b3b 1px solid;
  .label {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;

    margin-top: 104px;
    margin-bottom: 15px;
  }
  > .wrap-logo {
    margin-top: 60px;
    > .logo-footer {
      width: 181.64px;
      height: 62.86px;
    }

    > .address {
      width: 411px;
      margin-top: 22.5px;
    }
  }
  > .contact {
    width: 197px;
  }
  > .co-operate {
    width: 391px;
  }
}

.wrap-bottom-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  > .social {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
