html {
  font-family: "Inter";
  font-style: normal;
  overflow: scroll;
}

a:hover {
  text-decoration: none;
}

section {
  margin-top: 80px;
}

#head {
  margin-top: 0px;
  background-image: url("./assets/images/background-introduction.png");
  height: 820px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px !important;
  }
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.3px;
  color: #333333;
  text-align: center;
}

.menu {
  cursor: pointer;
}
.menu > span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: #007d85;
  margin-right: 17px;
}

.wrap-introduction {
  display: flex;
}
.wrap-introduction > .left {
  max-width: 520px;
  margin-top: 235px;
  margin-right: 50px;
}
.wrap-introduction > .left > h4 {
  color: #007d85;
}
.wrap-introduction > .left > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: #007d85;
  margin-top: 24px;
}
.wrap-introduction > .left > .wrap-read-more {
  margin-top: 24px;
}
.wrap-introduction > .left > .wrap-read-more > .read-more {
  background: #00becb;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.165px;
  color: #ffffff;
  padding: 11px 34px;
}
.wrap-introduction > .left > .wrap-dowload {
  margin-top: 82px;
}
.wrap-introduction > .left > .wrap-dowload > .dowload {
  margin-top: 6.5px;
  width: 380px;
  display: flex;
  justify-content: space-between;
}
.wrap-introduction > .right {
  margin-top: 74px;
}
.wrap-introduction > .right > img {
  width: 100%;
}

.mentor-team {
  text-align: center;
}
.mentor-team > .description {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.3px;
  color: #333333;
}

.wrap-mentor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrap-mentor > .mentor {
  border: 1px solid #dffafc;
  box-shadow: 0px 2px 4px rgba(220, 220, 220, 0.25);
  border-radius: 8px;
  background: #ffffff;
}
.wrap-mentor > .mentor > img {
  height: 300px;
}
.wrap-mentor > .mentor > .name {
  margin-top: 20px;
  margin-left: 17px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.3px;
  color: #333333;
}
.wrap-mentor > .mentor > .position {
  margin-top: 8px;
  margin-left: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: #828282;
}

#statue {
  background-image: url("./assets/images/statue.png");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
}

.wrapper {
  display: flex;
  justify-content: end;
}
.wrapper > .wrap-text-statue {
  margin-top: 220px;
  max-width: 770px;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  text-align: right;
  letter-spacing: -0.3px;
  color: #ffffff;
}
.wrapper > .wrap-text-statue > .explain {
  font-size: 24px;
}

.list-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.list-event > .event {
  width: 410px;
  height: 310px;
  margin-top: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(191, 191, 191, 0.25);
  border-radius: 8px;
}
.list-event > .event > img {
  height: 190px;
}
.list-event > .event > .description {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #333333;
  margin-top: 20px;
}
.list-event > .event > .privacy {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: #333333;
  display: flex;
  align-items: center;
}
.list-event > .event > .privacy > img {
  margin-right: 6px;
}

.list-podcast {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.list-podcast > .podcast {
  width: 300px;
}
.list-podcast > .podcast > img {
  height: 300px;
}
.list-podcast > .podcast > .description {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #333333;
  margin-top: 12px;
}
.list-podcast > .podcast > .name {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: #333333;
}

.list-partner {
  display: flex;
  justify-content: space-between;
  width: 834px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 40px;
}
.list-partner > img {
  height: 102px;
  width: 102px;
  margin-right: 81px;
}
.list-partner > img:nth-child(5), .list-partner > img:nth-child(10) {
  margin-right: 0;
}
.list-partner > img:nth-child(5n-4) {
  margin-bottom: 50px;
}

footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  height: 318px;
  background: #303435;
  box-shadow: 0px -1px 1px rgba(172, 172, 172, 0.25);
}

.wrap-top-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: #3b3b3b 1px solid;
}
.wrap-top-footer .label {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  margin-top: 104px;
  margin-bottom: 15px;
}
.wrap-top-footer > .wrap-logo {
  margin-top: 60px;
}
.wrap-top-footer > .wrap-logo > .logo-footer {
  width: 181.64px;
  height: 62.86px;
}
.wrap-top-footer > .wrap-logo > .address {
  width: 411px;
  margin-top: 22.5px;
}
.wrap-top-footer > .contact {
  width: 197px;
}
.wrap-top-footer > .co-operate {
  width: 391px;
}

.wrap-bottom-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}
.wrap-bottom-footer > .social {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}/*# sourceMappingURL=index.css.map */